@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Primary colors  */
  --color-primaryLite: #8E9B6E;
  --color-secondaryLite: #D26A5E;
  --color-teritaryLite: #D4C9B6;

  /* Header & Tabs  */
  --color-headerBg: #2E2B28;
  --color-headerButtonBg: #8E9B6E;
  --color-headerHoverButtonBg: #E7A087;
  --color-headerTextColor: #FDF8F3;

/* page Background  */
  --color-pageBg: #FAF7F0;
  --color-cardBg: #F2EADF;
  --color-inputBg: #EDEAE2;
  --color-cardShadow: #000000;
  --color-hoverCardShadow: #000000;

  /* text colors  */
  --color-primaryText: #1F1D1B;
  --color-secondaryText: #6B665E;
  --color-mutedText: #99948D;
  --color-headingText: #3A2E28;

  /* button color  */
  --color-primaryBtn: #D26A5E;
  --color-secondaryBtn: #8E9B6E;
  --color-buttonText: #FFFFFF;
  --color-deleteBtn: #DC3545;
  
  /* Status Colors */
  --color-success: #6B8E23;
  --color-Warning: #F4A261;
  --color-Error: #B94E4E;
  --color-Info: #6C7A89;
}