@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Playfair+Display:wght@400;700&family=Inter:wght@400;600&family=League+Spartan:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JK Abode';
  src: url('/fonts/JKAbode.woff2') format('woff2'),
       url('/fonts/JKAbode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Primary colors  */
  --color-primaryLite: #8E9B6E;
  --color-secondaryLite: #D26A5E;
  --color-teritaryLite: #D4C9B6;

  /* Header & Tabs  */
  --color-headerBg: #FFFFFF;
  --color-headerHeading: #af654a;
  --color-headerTextColor: #000000;
  --color-headerSelectedNavText: #D26A5E;
  --color-headerHoverNavText: #D26A5E;
  --color-headerHoverBtnText: #000000;
  --color-headerHoverBtnBg: #FFFFFF;
  --color-headerBtnBorder: #FDF8F3;

  /* search input  */
  --color-searchInputBg: #FFFFFF;

  /* product cart  */
  --color-productCardBg: #FFFFFF;
  --color-cardShadow: #000000;
  --color-hoverCardShadow: #000000;
  --color-productCartBorder: #99948D;
  --color-productCartMutedcolor: #99948D;
  --color-productCartRatingText: #FFFFFF;

/* Background  */
  --color-pageBg: #FFFFFF;
  --color-cardBg: #FFFFFF;
  --color-inputBg: #FFFFFF;
  --color-inputSelectBorder: #000000;

  /* text colors  */
  --color-primaryText: #1F1D1B;
  --color-secondaryText: #6B665E;
  --color-teriteryText: #3759B8;
  --color-mutedText: #99948D;

  /* button color  */
  --color-primaryBtn: #FFFFFF;
  --color-secondaryBtn: #8E9B6E;
  --color-buttonText: #000000;
  --color-buttonText2: #FFFFFF;
  --color-deleteBtn: #DC3545;
  --color-hoverBtnBg: #FFFFFF;
  --color-hoverBtnText: #000000;
  --color-buttonBorder: #000000;
  --color-cancelButton: #DC3545;

   /* rating star color  */
  --color-ratingStarcolor: #FFA500;
  
  /* Status Colors */
  --color-success: #6B8E23;
  --color-Warning: #F4A261;
  --color-Error: #B94E4E;
  --color-Info: #6C7A89;
}